// size
$items: 8, 10, 11, 12, 14, 16, 18, 20, 22, 24, 30, 32, 40;
@each $item in $items {
  .h-fz--#{$item} {
    font-size: $item * 1px;
  }
}

// border
.h-border {
  &--bottom {
    border-bottom: 1px solid $gray;
  }
}

.h-color {
  &--primary {
    color: $primary;
  }

  &--secondary {
    color: $secondary;
  }
  
  &--text {
    color: $text;
  }

  &--tertiary {
    color: $tertiary;
  }

  &--five {
    color: $five;
  }

  &--red {
    color: $red;
  }
}


.h-fw {
  &--300 {
    font-weight: 300;
  }

  &--500 {
    font-weight: 500;
  }

  &--900 {
    font-weight: 900;
  }
}

.pay {
  margin: 5px;
  position: relative;

  i {
    position: absolute;
    color: $primary;
    top: 23px;
  } 
}


.f-select {
  border: none;
  border-bottom: 1px solid $text;
  margin: 20px 0 10px 55px;
  padding-bottom: 10px;
  min-width: 200px;
  font-size: 12px;

  option {
    color: $text;
  }

  &:focus {
    outline: none;
  }

}

.f-selec {
  border: none;
  border-bottom: 1px solid $text;
  color: $text;
  margin: 15px 10px 10px 0;
  width: 100%;
  font-size: 12px;
  position: relative;
  padding-bottom: 10px;

  &:focus {
    outline: none;
  }

  i {
    position: absolute;
    color: $secondary;
    right: 10px;
    
  }
}

.f-p {
  border-bottom: 1px solid $text;
  margin: 12px 60px 20px;
  min-width: 200px;
  padding: 13px 0 10px 0;
  margin-bottom: 25px;
  font-size: 12px;
}

.end {
  margin-top: 10%;
}

.g-pointer {
  cursor: pointer;
}