.body-content {
  height: calc(100% - 48px);
  overflow: hidden;

  &--white {
    background: white;
  }

  &--detail {
    background: white;
    border-radius: 4px;
    border: solid 1px #ddd;
    height: calc( 100vh - 146px);
    margin: 50px 70px;
    padding: 24px;
    overflow: auto;
  }

  &--pay {
    background: white;
    border-radius: 4px;
    border: solid 1px #ddd;
    height: calc( 100vh - 146px);
    margin: 50px 70px;
    padding: 20px 80px;
    overflow: auto;
  }
<<<<<<< HEAD
   
=======

>>>>>>> c3e06885a9c724e3b5f44c4d95eddd65dbe1ad88
  &--blue {
    background: #5393d0;
  }
}