.body-content {
  height: calc(100% - 48px);
  overflow: hidden;

  &--white {
    background: white;
  }

  &--detail {
    background: white;
    border-radius: 4px;
    border: solid 1px #ddd;
    height: calc( 100vh - 146px);
    margin: 50px 70px;
    padding: 24px;
    overflow: auto;
    position: relative;
  }

  &--pay {
    background: white;
    border-radius: 4px;
    border: solid 1px #ddd;
    height: calc( 100vh - 146px);
    margin: 50px 70px;
    padding: 20px 80px;
    overflow: auto;
    position: relative;
  }

  &--blue {
    background: #5393d0;
  }

  &--footer {
    left: 0;
    position: sticky;
    bottom: -24px;
    right: 0;
    background: white;
    margin: 0;
    padding: 20px 0 10px 0;
    width: 100%;
  }
}

.img-short {
  border: solid 1px #eee;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.border-t {
  border: 1px solid #dddddd;
  min-height: 84px;
}
