.table {
    width: 100%;    
    border-radius: 6px;
    border: solid 1px #eee;

    thead {
        background-color: $five;
        color: #ffffff;
        font-size: 12px;
        font-weight: normal;
    }

    tbody {
        font-size: 10px;

        tr {
            vertical-align: middle;
        }
    }
}

.table>:not(:first-child) {
    border-top: 0;
}