.table {
    width: 100%;


    thead {
        background-color: $five;
        color: #ffffff;
        font-size: 12px;
        font-weight: normal;
    }

    tbody {
        font-size: 10px;
    }
}