.g-input {
    outline: none;
    border: none;

    &--primary{
        border-radius: 4px;
        color: $four;
        width: 328px;
        height: 56px;
    }
    
    &--secondary{
        border: 2px solid;
        border-radius: 3px;
        color: green;
        border-bottom: 1px;
        width: 90px;
        height: 30px;
        padding-left: 10px;
    }
    &--short{
        border-bottom: $primary 2px solid;
        color: $four;
        font-weight: 600;
        height: 50px;
        font-size: 24px;
        text-align: center;
        width: 32px;
        margin-left: 16px;
        margin-top: 28px;

        &::placeholder{
            color: $tertiary;
            background: white;
        }

    }

    &--check{
        width: 24px;
        background-color: pink;
    }

    &--material {
        font-size: 14px;
        position: relative;

        label {
            width: 100%;
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            border: 2px solid $tertiary;
            padding-bottom: 16px;
            padding-top: 16px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 3px;
            color: $four;

            &.focus {
                border-color: $secondary;
            }
        }

        .placeholder {
            position: absolute;
            top: 17px;
            left: 10px;
            transition: all 0.3s;
            pointer-events: none;
            color: $four;
            background: white;

            &.focus {
                font-size: 12px;
                top: -8px;
                color: $secondary;
                background: white;
                opacity: 1;
                padding-left: 5px;
                padding-right: 5px;
                left: 5px;
            }
        }
    }
}