.g-input{
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    outline: none;
    &--primary{
        color: $tertiary;
        width: 328px;
        height: 56px;
        padding-left: 10px;
    }
    &--secondary{
        color: $borde;
        border-bottom: 1px;
        width: 90px;
        height: 30px;
        padding-left: 10px;
    }
}