.g-modal{
    min-width: 480px;
    border-radius: 8px;

    &--medium{
        min-height: 559px;
    }

    &--create{
        min-height: 704px;
    }

    &--head{
        min-height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #eeeeee;
    }

    &--body{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        min-height: 336px;
    }

    &--footer{
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    &--img{
        min-width: 77px;
        min-height: 64px;
        text-align: center;
        margin-bottom: 20px;
    }
}